<div class="center hero-unit">
  <h1>Welcome to Pinteresting</h1>
  <p>
    Welcome to <%= link_to "Pinteresting", root_path %> application.
  </p>
  <p>
    <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-large btn-primary"  %>
  </p>
</div>

